@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  outline: none;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.frontend_img {
  height: 45px;
  width: 45px;
}

.frontend_img_circle {
  height: 46px;
  width: 46px;
  border-radius: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.profile-image {
  display: flex;
  object-fit: contain;
  height: 200px;
  width: 300px;
  border-radius: 10%;
}
